body {
    background-color: #a598ee !important;
}

.empty {
    height: 100px;
}

.count {
    letter-spacing: 2px;
    color: #63c76a;
    background-color: #383838;
    font-family: 'Oxanium', cursive;
    padding-top: 2px;
}

.gif {
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 775px) {
    .gif {
        height: 25vh;
    }
}

.title-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media screen and (max-width: 465px) {
    .navbar-nav {
        margin-right: auto;
    }
}

@media screen and (min-width: 466px) {
    .navbar-nav {
        margin-left: auto;
    }
}


