body {
    background-color: #a598ee !important;
}

.empty {
    height: 100px;
}

.count {
    letter-spacing: 2px;
    color: #63c76a;
    background-color: #383838;
    font-family: 'Oxanium', cursive;
    padding-top: 2px;
}

.gif {
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
}

@media screen and (max-width: 775px) {
    .gif {
        height: 25vh;
    }
}

@media screen and (max-width: 768px) {
    .nav-title {
        font-size: 28px;
    }

    .counter-title {
        font-size: 18px;
    }

    .count {
        font-size: 18px;
    }
}

@media screen and (max-width: 550px) {
    .nav-title {
        font-size: 23px;
    }

    .counter-title {
        font-size: 15px;
    }

    .count {
        font-size: 15px;
    }

    .footer-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 362px) {
    .nav-title {
        font-size: 20px;
    }

    .counter-title {
        font-size: 12px;
    }

    .count {
        font-size: 12px;
    }

    .search-container h1 {
        font-size: 21px;
    }
}


